<h2>We Miss You, {{name}}!</h2>
<p>It's been a while since your last visit to our platform.</p>
<p>If you'd like to log back in and continue where you left off, just click the button below:</p>
<a href="{{frontUrl}}/login" class="btn">Log Back In</a>
<p>If you have any issues or forgot your password, feel free to reset it using the link below:</p>
<a href="{{frontUrl}}/forgot-password" class="btn">Reset Password</a>
