<h2>Welcome, {{name}}!</h2>
<p>Thank you for registering on our platform. We're excited to have you on board.</p>
<p>To get started, click the link below to verify your account:</p>
<a href="{{frontUrl}}/verify/{{actionToken}}" class="btn">Verify Your Account</a>
